In [ ]:
import csv
import sqlite3

In [ ]:
INPUT_CSV_PATH = '../Databases/top20.csv'
OUTPUT_SQLITE_PATH = '../Databases/top20_pk.sqlite'

In [ ]:
try:
 
    # Import csv and extract data
    with open(INPUT_CSV_PATH, 'r') as fin:
        dr = csv.DictReader(fin)
        all_info = [(i['id'], i['timestamp'], i['company'], i['level'], i['title'], i['totalyearlycompensation'], i['location'], i['yearsofexperience'], i['yearsatcompany'], i['tag'], i['gender'], i['cityid'], i['dmaid'], i['rownumber'], i['mastersdegree'], i['bachelorsdegree'], i['doctoratedegree'], i['raceasian'], i['racewhite'], i['racetwoormore'], i['raceblack'], i['racehispanic']) for i in dr]
        print(all_info)
 
    # Connect to SQLite
    sqliteConnection = sqlite3.connect(OUTPUT_SQLITE_PATH)
    cursor = sqliteConnection.cursor()
 
    # Create student table
    cursor.execute('create table top20(id int PRIMARY KEY, timestamp date, company VARCHAR, level VARCHAR, title VARCHAR, totalyearlycompensation int, location VARCHAR, yearsofexperience FLOAT, yearsatcompany FLOAT, tag VARCHAR, gender VARCHAR, cityid int, dmaid FLOAT, rownumber int, mastersdegree BOOLEAN, bachelorsdegree BOOLEAN, doctoratedegree BOOLEAN, raceasian BOOLEAN, racewhite BOOLEAN, racetwoormore BOOLEAN, raceblack BOOLEAN, racehispanic BOOLEAN);')
 
    # Insert data into table
    cursor.executemany(
        "insert into top20 (id, timestamp, company, level, title, totalyearlycompensation, location, yearsofexperience, yearsatcompany, tag, gender, cityid, dmaid, rownumber, mastersdegree, bachelorsdegree, doctoratedegree, raceasian, racewhite, racetwoormore, raceblack, racehispanic) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", all_info)
 
    # Show student table
    cursor.execute('select * from top20;')
 
    # View result
    result = cursor.fetchall()
    print(result)
 
    # Commit work and close connection
    sqliteConnection.commit()
    cursor.close()
 
except sqlite3.Error as error:
    print('Error occurred - ', error)
 
finally:
    if sqliteConnection:
        sqliteConnection.close()
        print('SQLite Connection closed')

In [ ]:
conn = sqlite3.connect(OUTPUT_SQLITE_PATH)

# Create a cursor object
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='top20'")

# Fetch the result
result = cursor.fetchone()

# Check if the result is not None
if result is not None:
    print("The 'top20' table exists.")
else:
    print("The 'top20' table does not exist.")

# Close the connection
conn.close()